{{- if eq .chezmoi.os "darwin" -}}
[mistermanager]
aws_access_key_id = {{ onepasswordRead "op://Personal/mistermanager/access key" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/mistermanager/secret key" }}

[paychecker]
aws_access_key_id = {{ onepasswordRead "op://Personal/paychecker/access key" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/paychecker/secret key" }}
{{- end }}
