{{- $email := promptStringOnce . "email" "Email address" -}}

{{- if eq .chezmoi.hostname "Synology" }}
# Synology mounts /tmp with noexec, use home directory instead
scriptTempDir = "{{ .chezmoi.homeDir }}/.cache/chezmoi/tmp"
{{- end }}

[data]
email = {{ $email | quote }}
