.pre-commit-config.yml
CLAUDE.md
README.md

{{- if ne .chezmoi.os "darwin" }}
.bin/brewdump
.bin/makemkv-sync
.bin/plex-sync
.bin/renamer
.bin/sortie
.bin/tmclean
.bin/todoer
.config/Brewfile
.config/ghostty/
.config/iTerm2.json
.config/rustbin
.config/Sublime.json
.obsidian/
.ssh/config
{{- end }}

{{- if eq .chezmoi.hostname "Synology" }}
.aws/
.config/gallifrey-custom.zsh-theme
.zshrc
.terraformrc
.terraform.d/
{{- end }}

{{- if ne .chezmoi.hostname "Synology" }}
.bin/tmux-attach
.bin/up-rc
.config/rclone/
.profile
.tmux.conf
{{- end }}
