{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $aws_region := promptStringOnce . "aws_region" "Default AWS Region" -}}
{{- $aws_sso_url := promptStringOnce . "aws_sso_url" "AWS SSO URL" -}}
{{- $aws_sso_account_id := promptStringOnce . "aws_sso_account_id" "AWS SSO Account ID" -}}

{{- if eq .chezmoi.hostname "Synology" }}
# Synology mounts /tmp with noexec, use home directory instead
scriptTempDir = "{{ .chezmoi.homeDir }}/.cache/chezmoi/tmp"
{{- end }}

[data]
email = {{ $email | quote }}
aws_region = {{ $aws_region | quote }}
aws_sso_url = {{ $aws_sso_url | quote }}
aws_sso_account_id = {{ $aws_sso_account_id | quote }}
