.pre-commit-config.yml
README.md

{{- if ne .chezmoi.os "darwin" -}}
.bin/brewdump
.bin/makemkv-sync
.config/Brewfile
.config/iTerm2.json
.config/Sublime.json
.obsidian
run_onchange_brew.sh
run_onchange_symlinks.sh
{{- end -}}

{{- if eq .chezmoi.hostname "Synology" -}}
.aws
.zshrc
{{- end -}}

{{- if ne .chezmoi.hostname "Synology" -}}
.config/rclone
.profile
.tmux.conf
{{- end -}}
