# Path to your oh-my-zsh installation.
export ZSH="{{ .chezmoi.homeDir }}/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="gallifrey-custom"

# Automatically update without prompting.
DISABLE_UPDATE_PROMPT="true"

# Change the command execution time stamp shown in the history
# command output.
HIST_STAMPS="yyyy-mm-dd"

# Don't record the same command twice in a row
setopt HIST_IGNORE_DUPS

# Remove older duplicates when a command is re-added
setopt HIST_IGNORE_ALL_DUPS

# Ignore commands starting with a space
setopt HIST_IGNORE_SPACE

# Share history across all sessions, de-duplicated
setopt SHARE_HISTORY

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git)

source $ZSH/oh-my-zsh.sh

# User configuration

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git Aliases
alias g='git'
alias gb='git branch'
alias gd='git diff'
alias gl='git log'
alias gp='git pull'
alias gr='git rebase -i'
alias gst='git status'
alias gsw='git switch'
alias wip="git add . && git commit -a -m '[Work In Progress]' --allow-empty"

# Misc.
alias l=ls
alias ll='ls -lh'
alias src='source {{ .chezmoi.homeDir }}/.zshrc'
alias tf=terraform

# Rust
if [ -f "{{ .chezmoi.homeDir }}/.cargo/env" ]; then
    source "{{ .chezmoi.homeDir }}/.cargo/env"
    alias cbuild='cargo build --all-features'
    alias ctest='cargo test --all-features'
    alias cclip='cargo clippy --all-features -- -D warnings'
    alias cball='cbuild; ctest; cclip; cargo fmt'
fi

{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_ENV_HINTS=1
export PATH=/opt/homebrew/sbin:$PATH
export PATH=/opt/homebrew/bin:$PATH

export DFT_BACKGROUND=light

alias aocu="cd {{ .chezmoi.homeDir }}/Documents/Programs/AdventOfCode-rs"
alias aoc="cd {{ .chezmoi.homeDir }}/Documents/Programs/AdventOfCode$(date +%Y)"

alias dotf="cd {{ .chezmoi.homeDir }}/Documents/Programs/dotfiles"

alias prog="cd {{ .chezmoi.homeDir }}/Documents/Programs"
alias js="cd {{ .chezmoi.homeDir }}/Documents/Programs/JakeSky-rs"
alias lamup="cd {{ .chezmoi.homeDir }}/Documents/Programs/LambdUpdate"
alias logc="cd {{ .chezmoi.homeDir }}/Documents/Programs/LogStreamGC"
alias lol="cd {{ .chezmoi.homeDir }}/Documents/Programs/ListOfLists-rs"
alias ru="cd {{ .chezmoi.homeDir }}/Documents/Programs/rust-utils"

alias bl="cd {{ .chezmoi.homeDir }}/Documents/BurgerList"
alias ml="cd {{ .chezmoi.homeDir }}/Documents/MovieList"
alias sl="cd {{ .chezmoi.homeDir }}/Documents/StarList"

# Coreutils
alias grep=ggrep
alias echo=gecho
alias sed=gsed
export GREP=$(which ggrep)

alias brewup="brew update; brew upgrade"
alias youtube-dl=yt-dlp
alias dequar="xattr -d com.apple.quarantine"
{{- end }}

export MANPATH="/usr/local/man:$MANPATH"

export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH
export PATH={{ .chezmoi.homeDir }}/.bin:$PATH
