[user]
	name = Jacob Luszcz
	email = {{ .email }}

[core]
	pager = less -FMRiX
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore

[diff]
    external = difft

[color]
	ui = true

[format]
	pretty = commit %C(blue)%H%C(reset)%nAuthor: %an <%ae>%nDate:   %ad%n%n    %s%n

[init]
	templateDir = {{ .chezmoi.homeDir }}/.git-templates/git-secrets
	defaultBranch = main

[pull]
	rebase = true

[branch]
	autoSetupRebase = always

[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
