#!/usr/bin/env sh

{{ if eq .chezmoi.os "darwin" }}
# Symlink preferences into the right places
SUBLIME_PREFS_DIR="{{ .chezmoi.homeDir }}/Library/Application Support/Sublime Text/Packages/User"
if [ -d "${SUBLIME_PREFS_DIR}" ]; then
    rm -f "${SUBLIME_PREFS_DIR}/Preferences.sublime-settings"
    ln -svfh {{ .chezmoi.homeDir }}/.config/Sublime.json "${SUBLIME_PREFS_DIR}/Preferences.sublime-settings"
fi

VSCODE_PREFS_DIR="{{ .chezmoi.homeDir }}/Library/Application\ Support/Code/User"
if [ -d "${VSCODE_PREFS_DIR}" ]; then
    rm -f "${VSCODE_PREFS_DIR}/settings.json"
    ln -svfh {{ .chezmoi.homeDir }}/.config/VSCode.json "${VSCODE_PREFS_DIR}/settings.json"
fi

# Symlink Dropbox folders into ~/Documents
if [ -d {{ .chezmoi.homeDir }}/Dropbox ]; then
    ln -svfh {{ .chezmoi.homeDir }}/Dropbox/Career/Amazon {{ .chezmoi.homeDir }}/Documents/
    ln -svfh {{ .chezmoi.homeDir }}/Dropbox/Career/Netflix {{ .chezmoi.homeDir }}/Documents/
    ln -svfh {{ .chezmoi.homeDir }}/Dropbox/Career {{ .chezmoi.homeDir }}/Documents/
    ln -svfh {{ .chezmoi.homeDir }}/Dropbox/Money {{ .chezmoi.homeDir }}/Documents/
fi

# Symlink binaries
TODOER_BIN="{{ .chezmoi.homeDir }}/Documents/Programs/todoer/target/release/todoer"
if [ -f "${TODOER_BIN}" ]; then
    ln -svfh "${TODOER_BIN}" {{ .chezmoi.homeDir }}/.bin/
fi

RENAMER_BIN="{{ .chezmoi.homeDir }}/Documents/Programs/Renamer/target/release/renamer"
if [ -f "${RENAMER_BIN}" ]; then
    ln -svfh "${RENAMER_BIN}" {{ .chezmoi.homeDir }}/.bin/
fi

SORTER_BIN="{{ .chezmoi.homeDir }}/Documents/Programs/Sortie/target/release/sortie"
if [ -f "${SORTER_BIN}" ]; then
    ln -svfh "${SORTER_BIN}" {{ .chezmoi.homeDir }}/.bin/
fi
{{ end }}
