#!/usr/bin/env bash
set -euo pipefail

ZIP="rclone-current-linux-amd64.zip"
DEST="{{ .chezmoi.homeDir }}/.bin/rclone"

pushd /tmp

curl -O "https://downloads.rclone.org/$ZIP"
python3 -c "import zipfile, sys; zipfile.ZipFile(sys.argv[1]).extractall()" "$ZIP"

RCLONE_DIR=$(find . -maxdepth 1 -name "rclone-*-linux-amd64" -type d | head -1)
RCLONE_BIN="$RCLONE_DIR/rclone"
chmod 755 "$RCLONE_BIN"
mv "$RCLONE_BIN" "$DEST"

popd

echo "updated: $($DEST version | head -1)"
